body {
    overflow-x: hidden;
}
.sidebar {
    width: 250px;
    transition: all 0.3s;
}
.sidebar.collapsed {
    width: 60px;
}
.sidebar .menu-text {
    display: inline;
    transition: all 0.3s;
}
.sidebar.collapsed .menu-text {
    display: none;
}
.content {
    margin-left: 250px;
    transition: all 0.3s;
    background-color: #f8f9fa;
}
.content.collapsed {
    margin-left: 60px;
}

#overlay {
    display: flex;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

input[type=text]:focus {
    width: 100%;
}

.form-group {
    margin-bottom: 0;
}

/* table {
    table-layout: fixed;
} */

/* table th {
    color: black;
    text-align: center;
    font-size: 10px;
} */

/* table td {
    overflow: hidden;
    font-size: 10px;
} */

.label {
    color: black;
    font-weight: bold;
    font-size: 10px;
}

.rightJustified {
    text-align: right;
}

.total {
    font-weight: bold;
    color: blue;
}

.form-control {
    font-size: inherit;
    font-weight: 400;
}

.bodycontainer {
    /* width: 1000px; */
    max-height: 500px;
    margin: 0;
    overflow-y: auto;
}

/* #datatable td {
    padding: 2px !important;
    vertical-align: middle;
} */

.table-scrollable {
    margin: 0;
    padding: 0;
}

.modal-bodys {
    max-height: 250px;
    overflow-y: auto;
}

.select2-dropdown {
    width: 500px !important;
}

.checkbox_container {
    width: 25px;
    height: 25px;
}

td input[type="checkbox"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}

.form-control {
    font-size: inherit;
    font-weight: bolder;
    /* text-transform: uppercase; */
}

.text-input {
    font-size: 10px;
    font-weight: bolder;
    color: black;
    /* text-transform: uppercase; */
}

#modal_bonbahan tbody td {
    font-size: inherit;
    padding: 5;
}

.alert-container {
    background-color: Antiquewhite;
    color: black;
    font-weight: bolder;
}

.hr-footer {
    border: 2px solid black;
    border-radius: 2px;
    margin: 25px;
}

.input-hidden {
    display: none;
}

/* SWEETALERT */
.colored-toast.swal2-icon-success {
    background-color: #4e73df !important;
}

.colored-toast.swal2-icon-info {
    background-color: #1ec88b !important;
}

.colored-toast.swal2-icon-error {
    background-color: #e75042 !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}

.width-select {
    width: 100px;
}

.rincian-detail {
    background-color: Antiquewhite;
    color: black;
    text-align: center;
}

/* BATAS SWEETALERT */